Repository renanmav/coinbase-repro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint, yarn sort-package-json "package.json" "packages/*/package.json" --check

.lintstagedrc.json:

{
  "*.{css,md,yaml,yml}": "prettier --write",
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "yarn lint"
  ],
  "package.json": "yarn sort-package-json \"package.json\" \"packages/*/package.json\" --check"
}

set pre-commit executable
  .husky/pre-commit
Due: none

feat: install commitlint and create babel package
  .commitlintrc.json
  .husky/commit-msg
  .lintstagedrc.json
  package.json
  packages/babel/index.js
  packages/babel/package.json
  packages/eslint/index.js
  yarn.lock
Due: prettier --write, yarn lint, yarn sort-package-json "package.json" "packages/*/package.json" --check

feat: create @coinbase/app package
  package.json
  packages/app/.expo-shared/assets.json
  packages/app/.gitignore
  packages/app/App.tsx
  packages/app/app.json
  packages/app/assets/adaptive-icon.png
  packages/app/assets/favicon.png
  packages/app/assets/icon.png
  packages/app/assets/splash.png
  packages/app/babel.config.js
  packages/app/metro.config.js
  packages/app/package.json
  packages/app/tsconfig.json
  yarn.lock
Due: prettier --write, yarn lint, yarn sort-package-json "package.json" "packages/*/package.json" --check

feat: create @coinbase/components package
  .eslintrc.js
  package.json
  packages/app/App.tsx
  packages/app/app.json
  packages/app/package.json
  packages/components/package.json
  packages/components/src/index.ts
  packages/components/tsconfig.json
  packages/eslint/index.js
  packages/eslint/package.json
  yarn.lock
Due: prettier --write, yarn lint, yarn sort-package-json "package.json" "packages/*/package.json" --check

feat: create Button component
  packages/app/App.tsx
  packages/babel/index.js
  packages/babel/package.json
  packages/components/package.json
  packages/components/src/Button.tsx
  packages/components/src/Colors.ts
  packages/components/src/__stories__/Button.stories.tsx
  packages/components/src/index.ts
  packages/eslint/package.json
  yarn.lock
Due: prettier --write, yarn lint, yarn sort-package-json "package.json" "packages/*/package.json" --check

chore: update
  .gitignore
  package.json
  packages/app/.expo-shared/assets.json
  packages/app/.gitignore
  packages/app/app.json
Due: yarn sort-package-json "package.json" "packages/*/package.json" --check

chore: install react-native-reanimated
  packages/app/package.json
Due: yarn sort-package-json "package.json" "packages/*/package.json" --check

feat: create @coinbase/storybook package
  package.json
  packages/storybook/.gitignore
  packages/storybook/App.tsx
  packages/storybook/app.json
  packages/storybook/assets/adaptive-icon.png
  packages/storybook/assets/favicon.png
  packages/storybook/assets/icon.png
  packages/storybook/assets/splash.png
  packages/storybook/babel.config.js
  packages/storybook/metro.config.js
  packages/storybook/package.json
  packages/storybook/tsconfig.json
Due: prettier --write, yarn lint, yarn sort-package-json "package.json" "packages/*/package.json" --check

chore: change Button
  packages/components/src/Button.tsx
  packages/components/src/__stories__/Button.stories.tsx
Due: prettier --write, yarn lint

feat: setup storybook for react-native
  packages/storybook/App.tsx
  packages/storybook/package.json
  packages/storybook/storybook/CenterView.tsx
  packages/storybook/storybook/addons.ts
  packages/storybook/storybook/index.ts
  packages/storybook/storybook/rn-addons.ts
  packages/storybook/storybook/stories/Button/Button.stories.tsx
  packages/storybook/storybook/stories/Button/index.tsx
  packages/storybook/storybook/stories/index.ts
  yarn.lock
Due: prettier --write, yarn lint, yarn sort-package-json "package.json" "packages/*/package.json" --check

feat: create Story for Button
  packages/app/package.json
  packages/storybook/package.json
  packages/storybook/storybook/CenterView.tsx
  packages/storybook/storybook/stories/Button.stories.tsx
  packages/storybook/storybook/stories/Button/Button.stories.tsx
  packages/storybook/storybook/stories/Button/index.tsx
  packages/storybook/storybook/stories/index.ts
Due: prettier --write, yarn lint, yarn sort-package-json "package.json" "packages/*/package.json" --check

chore: setup storybook
  packages/app/package.json
  packages/babel/package.json
  packages/components/package.json
  packages/components/src/Button.tsx
  packages/storybook/App.tsx
  packages/storybook/babel.config.js
  packages/storybook/package.json
  packages/storybook/storybook/Button.stories.tsx
  packages/storybook/storybook/addons.ts
  packages/storybook/storybook/index.ts
  packages/storybook/storybook/index.tsx
  packages/storybook/storybook/rn-addons.ts
  packages/storybook/storybook/stories/Button.stories.tsx
  packages/storybook/storybook/stories/index.ts
  yarn.lock
Due: prettier --write, yarn lint, yarn sort-package-json "package.json" "packages/*/package.json" --check

feat: create Logo component
  packages/app/package.json
  packages/components/package.json
  packages/components/src/Logo.tsx
  packages/components/src/index.ts
  packages/storybook/package.json
  packages/storybook/storybook/Logo.stories.tsx
  packages/storybook/storybook/index.tsx
  yarn.lock
Due: prettier --write, yarn lint, yarn sort-package-json "package.json" "packages/*/package.json" --check

feat: setup @react-navigation in storybook package
  packages/app/App.tsx
  packages/storybook/App.tsx
  packages/storybook/package.json
  packages/storybook/storybook/Logo.stories.tsx
  packages/storybook/storybook/index.tsx
  yarn.lock
Due: prettier --write, yarn lint, yarn sort-package-json "package.json" "packages/*/package.json" --check

chore: add onPress to Button story
  packages/storybook/storybook/Button.stories.tsx
Due: prettier --write, yarn lint

feat: setup @react-navigation in app package
  packages/app/App.tsx
  packages/app/package.json
  packages/app/src/Home.tsx
  packages/app/src/Navigation.tsx
  yarn.lock
Due: prettier --write, yarn lint, yarn sort-package-json "package.json" "packages/*/package.json" --check

feat: create Home screen
  packages/app/src/Home.tsx
  packages/components/src/Button.tsx
Due: prettier --write, yarn lint

feat: create Login and GetStarted
  packages/app/src/GetStarted.tsx
  packages/app/src/Home.tsx
  packages/app/src/Login.tsx
  packages/app/src/Navigation.tsx
Due: prettier --write, yarn lint

chore: add vibration
  packages/app/src/Home.tsx
Due: prettier --write, yarn lint

feat: create BottomSheet component
  packages/components/src/BottomSheet.tsx
  packages/components/src/index.ts
  packages/storybook/App.tsx
  packages/storybook/storybook/BottomSheet.stories.tsx
Due: prettier --write, yarn lint

feat: implement BottomSheet in GetStarted screen
  packages/app/package.json
  packages/app/src/GetStarted.tsx
  packages/app/src/Login.tsx
  packages/app/src/Navigation.tsx
  yarn.lock
Due: prettier --write, yarn lint, yarn sort-package-json "package.json" "packages/*/package.json" --check

fix: fast refresh
  packages/app/babel.config.js
  packages/babel/index.js
  packages/babel/package.json
  packages/storybook/babel.config.js
  yarn.lock
Due: prettier --write, yarn lint, yarn sort-package-json "package.json" "packages/*/package.json" --check

feat: use @gorhom/bottom-sheet in BottomSheet
  packages/app/src/GetStarted.tsx
  packages/app/src/Navigation.tsx
  packages/components/package.json
  packages/components/src/BottomSheet.tsx
  packages/components/src/Button.tsx
  packages/components/src/index.ts
  yarn.lock
Due: prettier --write, yarn lint, yarn sort-package-json "package.json" "packages/*/package.json" --check

chore: use PixelRatio to determine snapPoint
  packages/app/src/GetStarted.tsx
Due: prettier --write, yarn lint

feat: add Backdrop to BottomSheet
  packages/components/src/BottomSheet.tsx
Due: prettier --write, yarn lint

feat: add BottomSheet in Login screen
  packages/app/src/GetStarted.tsx
  packages/app/src/Login.tsx
Due: prettier --write, yarn lint

feat: setup jest within @coinbase/components package
  jest.config.js
  package.json
  packages/components/babel.config.js
  packages/components/jest.config.js
  packages/components/package.json
  packages/components/src/Colors.ts
  packages/components/src/__tests__/Colors.test.ts
  yarn.lock
Due: prettier --write, yarn lint, yarn sort-package-json "package.json" "packages/*/package.json" --check

test: Logo component
  packages/components/jest.config.js
  packages/components/package.json
  packages/components/src/__tests__/Logo.test.tsx
  packages/components/src/__tests__/__snapshots__/Logo.test.tsx.snap
  yarn.lock
Due: prettier --write, yarn lint, yarn sort-package-json "package.json" "packages/*/package.json" --check

test: Button component
  packages/components/jest.config.js
  packages/components/src/Button.tsx
  packages/components/src/__tests__/Button.test.tsx
  packages/components/test/jest-setup.ts
  packages/components/tsconfig.json
Due: prettier --write, yarn lint

chore: update BottomSheet story file
  packages/storybook/storybook/BottomSheet.stories.tsx
Due: prettier --write, yarn lint

chore: create test.yml workflow
  .github/workflows/test.yml
Due: prettier --write

feat: pair
  packages/app/src/GetStarted.tsx
  packages/components/src/ActionButton.tsx
  packages/components/src/Transaction.tsx
  packages/components/src/index.ts
Due: prettier --write, yarn lint
